.true
{
    text-decoration: line-through;
}
.false
{
    text-decoration: none;
}
.descripcion, .titulo
{
    width: 200px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: inline-block;
    vertical-align: middle;
}