*
{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body
{
    background-color: aliceblue;
}

.container
{
    display: flex;
}

form, .seccion
{
    background-color: white;
    text-align: center;
    width: 39vw;
    height: 80vh;
    border-radius: 10px;
    margin: 0 auto;
    margin-top: 20px;
    box-shadow:
    0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
}

.reducida
{
    width: 19vw;
}

.seccion
{
    overflow-y: scroll;
}

input
{
    width: 60%;
    border: none;
    border-bottom: 1px solid black;
    margin-top: 10px;
    margin-bottom: 10px;
}

select
{
    width: 60%;
    margin-top: 10px;
    margin-bottom: 10px;
}

button
{
    border-radius: 2px;
    width: 100px;
    background-color: rgb(165, 206, 243);
    transition: 0.5s;
    border: none;
    box-shadow:
    0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
    margin-bottom: 10px;
    margin-top: 10px;
}

.botonEnviar
{
    font-size: larger;
    width: 200px;
    height: 80px;
    margin: 10px 10px;
}

button:hover
{
    background-color: rgb(51, 158, 252);
}

#error
{
    display: none;
    background-color: rgb(255, 143, 143);
    text-align: center;
    width: 25%;
    border-radius: 10px;
    border: 5px red solid;
    margin: 0 auto;
    margin-top: 20px;
    box-shadow:
    0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
}

table
{
    margin: 0 auto;
    width: 95%;
}

@media (max-width: 650px)
{
    .container
    {
        display: block;
    }
    form, .seccion
    {
        width: 95%;
    }
}